body {
	background: #eee;
}

#root {
	background-color: #fff;
	border: 1px solid #333;
	box-shadow: 3px 3px 3px #999;
	margin: 20px auto;
	padding: 10px;
	width: 400px;
}

h1, p {
	text-align: center;
}

table {
	margin: 40px auto;
}

td {
	padding-left: 9px;
}

.shopData {
	padding-right: 10px;
	padding-left: 18px;
}

tfoot tr {
	font-weight: bold;
}

img {
	margin-left: 30px;
	width: 80px;
}

span {
	font-family: monospace;
	font-size: 12px;
	margin: 0 auto;
	text-transform: uppercase;
}

.established {
	display: flex;
	justify-content: space-between;
}




